/* Importando fonts Poppins e Inter */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F4F6F8;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 164px;
}

h3 {
    font-size: 3.75rem;
    font-family: 'Poppins', sans-serif;
    color: #0B3C5D;
    margin-bottom: 20px;

}

footer {
    display: flex;
    align-items: center;

    background-color: #0B3C5D;

    width: 100%;
    min-height: 360px;
    padding: 40px 0;
}

/* ----------------------------------------------------------------------------------------------- */

.header-buttons {
    display: flex;
    align-items: center;

    gap: 50px;
    flex-wrap: wrap;
}

.botao-normal {
    justify-content: center;
    border: none;
    font-size: 1rem;

    cursor: pointer;
}

.separate {
    background-color: #B8BABC;
    width: 1px;
    height: 37px;
}

.botao-circular {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #B8BABC;
    background-color: #F4F6F8;

    height: 40px;
    width: 120px;
    border-radius: 40px;

    font-size: 1rem;

    cursor: pointer;
}

.botao-circular-azul {
    color: #ffffff;

    border: none;
    background-color: #1F7AE0;

    height: 40px;
    width: 120px;
    border-radius: 40px;

    font-size: 1rem;

    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------- */

.div-quem-somos {
    width: 80%;
    margin: 40px auto;
}

.div-texto-img {
    display: flex;
}

.div-texto-img img {
    width: 800px;
    margin-left: 10%;
}

.div-texto p {
    margin-bottom: 23px;
    font-size: 1.3rem;
    color: #0B3C5D;
    text-align: justify;
}

.div-box {
    width: 80%; 
    margin: 0 auto; 
    position: relative;
}

.div-box img {
    width: 100%;
}

.div-valores {
    width: 90%; 
    margin: -550px auto 0 auto; 
    position: relative;
}

.div-valores h3 {
    color: #ffffff;
}

.div-itens {
    display: flex;
    align-items: center;

    text-align: center;
}

.div-itens img {
    width: 280px;
}

.div-itens h5 {
    font-size: 1.3rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.div-itens p {
    font-size: 1rem;
    color: #ffffff;
}

.div-icon-plus img {
    width: 100px;
}

.div-transparencia img {
    width: 350px;
}

.div-transparencia h5 {
    margin-top: 40px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-solucao {
    width: 80%;
    margin: 80px auto;
}

.div-solucao p {
    margin-bottom: 23px;
    font-size: 1.3rem;
    color: #0B3C5D;
    text-align: justify;
}

/* ----------------------------------------------------------------------------------------------- */

.div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
}

.footer-texto {
    display: flex;
}

.div-footer p,
.div-footer li {
    color: #ffffff;

    padding: 10px 20px;
}

.div-footer ul {
    list-style: none;
}

.div-footer a {
    text-decoration: none;
    color: #ffffff;
}

.div-footer img {
    width: 300px;
}

/* ----------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    h3 {
        font-size: 2rem;
    }

    .header-buttons {
        justify-content: center;
    }

    .separate {
        display: none;
    }

    .div-texto-img img {
        display: none;
    }

    .div-itens {
        flex-direction: column;
        gap: 30px;
    }

    .div-icon-plus {
        display: none;
    }

    .div-valores {
        width: 90%;
        margin: 20px auto;
    }

    .div-valores h3,
    .div-valores h5,
    .div-valores p {
        color: #0B3C5D;
    }

    .img_box {
        display: none;
    }

    .div-footer {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-texto {
        flex-direction: column;
    }

}

@media only screen and (max-width: 992px) {
    header {
        max-width: 1400px;
    }

    h3 {
        font-size: 3.5rem;
    }

    .div-texto-img img {
        display: none;
    }

    .div-quem-somos,
    .div-box,
    .div-solucao,
    .div-footer {
        max-width: 1400px;
    }

    .div-texto p {
        font-size: 1.2rem;
    }

    .div-valores h3,
    .div-valores h5,
    .div-valores p {
        color: #0B3C5D;
    }

    .div-box {
        width: 80%;
        margin: 0 auto;
    }

    .div-valores {
        width: 100%;
        margin: 0 auto;
    }
    
    .div-itens {
        gap: 40px;
    }

    .img_box {
        display: none;
    }

    .div-icon-plus {
        display: none;
    }

    .div-solucao p {
        font-size: 1.25rem;
    }

    .header-buttons {
        gap: 50px;
    }
}