/* Importando fonts Poppins e Inter */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F4F6F8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 164px;
}

h3 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #0B3C5D;
}

/* ----------------------------------------------------------------------------------------------- */

.header-buttons {
    display: flex;
    align-items: center;

    gap: 50px;
}

.botao-normal {
    justify-content: center;
    border: none;
    font-size: 16px;

    cursor: pointer;
}

.separate {
    background-color: #B8BABC;
    width: 1px;
    height: 37px;
}

.botao-circular {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #B8BABC;
    background-color: #F4F6F8;

    height: 40px;
    width: 120px;
    border-radius: 40px;

    font-size: 16px;

    cursor: pointer;
}

.botao-circular-azul {
    color: #ffffff;

    border: none;
    background-color: #1F7AE0;

    height: 40px;
    width: 120px;
    border-radius: 40px;
    
    font-size: 16px;

    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------- */

.div-quem-somos {
    width: 80%;
    margin: 0 auto;
}

.div-texto-img {
    display: flex;
}

.div-texto-img img{
    width: 500px;
}

.div-texto p{
    margin-bottom: 23px;
    font-size: 21px;
    color: #0B3C5D;
    text-align: justify;
}

.div-box {
    width: 80%;
    margin: 0 auto;
}

.div-box img {
    width: 100%;
}

.div-valores {
    width: 70%;
    position: absolute;
    top: 100%;
    left: 10%;
    border: 2px solid black;
}

.div-valores h3 {
    color: #ffffff;
}

.div-itens {
    display: flex;
}

.div-itens img {
    width: 280px;
}

.div-itens h5 {
    font-size: 21px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.div-itens p {
    font-size: 15px;
    color: #ffffff;
}

.div-icon-plus img {
    width: 80px;
}


