/* Importando fonts Poppins e Inter */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F4F6F8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12.3vh;
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 22.4vh;
}

h3 {
    font-size: 8.2vh;
    font-family: 'Poppins', sans-serif;
    color: #0B3C5D;
    margin-bottom: 2.7vh;

}

footer {
    display: flex;
    align-items: center;
    
    background-color: #0B3C5D;

    width: 100%;
    height: 49.3vh;
}

/* ----------------------------------------------------------------------------------------------- */

.header-buttons {
    display: flex;
    align-items: center;

    gap: 6.8vh;
}

.botao-normal {
    justify-content: center;
    border: none;
    font-size: 2.1vh;

    cursor: pointer;
}

.separate {
    background-color: #B8BABC;
    width: 0.1vh;
    height: 5vh;
}

.botao-circular {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.2vh solid #B8BABC;
    background-color: #F4F6F8;

    height: 5.4vh;
    width: 16.4vh;
    border-radius: 5.4vh;

    font-size: 2.1vh;

    cursor: pointer;
}

.botao-circular-azul {
    color: #ffffff;

    border: none;
    background-color: #1F7AE0;

    height: 5.4vh;
    width: 16.4vh;
    border-radius: 5.4vh;
    
    font-size: 2.1vh;

    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------- */

.div-quem-somos {
    width: 80%;
    margin: 5.4vh auto;
}

.div-texto-img {
    display: flex;
}

.div-texto-img img{
    width: 54vh;
    margin-left: 10%;
}

.div-texto p{
    margin-bottom: 3.1vh;
    font-size: 2.8vh;
    color: #0B3C5D;
    text-align: justify;
}

.div-box {
    width: 80%;
    margin: 0 auto;
}

.div-box img {
    width: 100%;
}

.div-valores {
    width: 70%;
    position: absolute;
    top: 100%;
    left: 15%;
}

.div-valores h3 {
    color: #ffffff;
}

.div-itens {
    display: flex;
    align-items: center;

    text-align: center;
}

.div-itens img {
    width: 280px;
}

.div-itens h5 {
    font-size: 2.8vh;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.div-itens p {
    font-size: 2vh;
    color: #ffffff;
}

.div-icon-plus img {
    width: 80px;
}

.div-transparencia img{
    width: 45.2vh;
}

.div-transparencia h5 {
    margin-top: 7.5vh;
}

/* ----------------------------------------------------------------------------------------------- */

.div-solucao {
    width: 80%;
    margin: 5.4vh auto;
}

.div-solucao p {
    margin-bottom: 23px;
    font-size: 21px;
    color: #0B3C5D;
    text-align: justify;
}

/* ----------------------------------------------------------------------------------------------- */

.div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
}

.footer-texto {
    display: flex;
}

.div-footer p,
.div-footer li {
    color: #ffffff;

    padding: 10px 20px;
}

.div-footer ul {
    list-style: none;
}

.div-footer a{
    text-decoration: none;
    color: #ffffff;
}

.div-footer img {
    width: 300px;
}

/* ----------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1200px) {
    
}