* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}



.sessao-esquerda {
  width: 50%;
  background: 
  linear-gradient(rgba(15,59,92,0.85), rgba(10,45,70,0.85));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.overlay {
  text-align: center;
  color: white;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
}

.slogan {
  font-size: 14px;
  opacity: 0.9;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  background: linear-gradient(rgba(15,59,92,0.85), rgba(10,45,70,0.85));
  z-index: -3;
  
}

.sessao-direita {
  width: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.login-box {
  width: 320px;
}

.login-box h2 {
  color: #0b3c5d;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.legenda {
  font-size: 13px;
  color: #555;
  margin-bottom: 25px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #333;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #eaeaea;
}

input:focus {
  outline: none;
  border: 1px solid #3b82f6;
  background-color: #fff;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #2f6fd6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1f5cc4;
}

.registrar {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.registrar a {
  color: #2f6fd6;
  text-decoration: none;
  font-weight: bold;
}

.registrar a:hover {
  text-decoration: underline;
}

.logo-mobile {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  display: none;
}

.alerta_erro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_erro {
  width: 100%;
  background-color: #d64545;
  color: #1f7ae0;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}


#div_aguardar {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.conteudo_erro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img_erro {
  width: 18px;
  height: 18px;
}
.conteudo_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img_loading {
  width: 20px;
  height: 20px;
}

#div_aguardar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #555;
  font-size: 13px;
}



/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {

  .login-box {
    width: 100%;
    max-width: 400px;
  }

  .sessao-direita {
    padding: 40px;
    width: 100%;
  }

  .sessao-esquerda {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

}

/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sessao-direita {
    width: 100%;
    height: 100vh;
    padding: 30px;
  }

  .login-box {
    width: 100%;
    max-width: 350px;
  }

  input {
    padding: 12px;
  }

  button {
    padding: 12px;
  }

  .sessao-esquerda {
    display: none;
  }
  
  .logo-mobile {
    width: 90px;
  }

}
