@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Header {
  height: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.HeaderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Header img {
  width: 200px;
  margin-right: 600px;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botaoCircular {
  justify-content: center;
  border: 200%;
  background-color: #ffffff00;
  height: 40px;
  border-color: #94a6ba;
  width: 110px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  margin: 10px;
}

.botaoCircularAzul {
  color: #ffffff;
  justify-content: center;
  border: none;
  background-color: #1f7ae0;
  height: 40px;
  border-color: #dadada;
  width: 110px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  margin: 10px;
}
.botaoNormal {
  justify-content: center;
  border: none;
  background-color: #ffffff;
  height: 40px;
  border-color: #dadada;
  width: 110px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

.Separate {
  background-color: #94a6ba;
  width: 1.9px;
  height: 40px;
}

.Card1 {
  background-color: #1f7ae0;
  width: 90%;
  height: 500px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #2c7fb8 0%, #1f6fa3 40%, #0f4f75 100%);
  box-shadow: 6px 6px 5px 0 #00000096;
}
.text {
  font-family: "Inter", sans-serif;
  color: #153963;
  margin-top: 70px;
  font-size: 40px;
  text-align: center;
}
.text p {
  font-size: 20px;
}
.CardPackage {
  display: flex;
  width: 100%;
}

.SmallCard {
  margin: 30px;
  outline: none;
  height: 500px;
  width: 45%;
  border: 3px solid #6a7a8a;
  border-radius: 30px;
}
